@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&display=swap');

:root {
  --bright-show: #fafafa;
  --blue-slate: #555475;
  --pitch-black: #100b00;
  --blush-rose: #c96480;
  --deep-pink: #ff579f;
}

header {
    font-family: "Quicksand", "Arial", sans-serif;
    background-color: var(--blue-slate);
}

body {
  font-family: "Quicksand", "Arial", sans-serif;
  background-color: var(#fafafa);
}

footer {
    font-family: "Quicksand", "Arial", sans-serif;
    background-color: var(--blush-rose)
}

h1, h2,h3 {
  font-family: "Climate+Crisis", "Arial Narrow", Arial, sans-serif;
  font-size: 20;
  font-weight: 200;
  color: var(--pitch-black);
}

#tabela {
  text-align: center;
}

.negrito {
  font-weight: bold;
}

img {
  height: 200px;
  width: 200px;
}

.avatar {
  border-radius: 50%;
}

#nav-sections {
    margin-top: 15px;
}


#nav-sections ul {
  list-style-type: none;
}

#nav-sections li {
  display: inline-block;
}



#nav-links {
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--pitch-black);
}

a:hover {
  color: var(--blue-slate);
  box-shadow: 0 0 10px var(--deep-pink);
}               
